<div class='d-flex'>
  <h3>Listing Of Books</h3>
  <%= link_to 'Create Book', new_book_path, class: 'ml-3 p-2' %>
</div>

<%= render 'filter' %>

<div id='book_listing'>
  <%= render partial: 'listing', locals: {books: @books} %>
</div>
