@import "~bootstrap/scss/bootstrap";
table, th, td {
  border: 0.5px solid black;
  // border-collapse: collapse;
}

table {
  width: 100%;
  font-size: 14px;
}

th, td {
  padding: 4px;
}

.error{
  color: red;
}
label, input, button {
    // border: 0;
    margin-bottom: 3px;
    display: block;
    width: 100%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    margin: 4rem;
  }